@model IEnumerable<Universidad.DBModels.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdalumnoNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmateriaNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdprofesorNavigation.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h2>
            Total Matricula @ViewBag.TotalMatricula
        </h2>
        <h2>
            Cantidad de Materias @ViewBag.CantMaterias
        </h2>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdalumnoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdmateriaNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdprofesorNavigation.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idmatricula">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Idmatricula">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idmatricula">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
